.firstPar {
    /*color: darkturquoise;*/
    background-color: rgb(220, 155, 57);
    color: rgb(11, 40, 40);
    opacity:0.5;
    
}
.secondPar {
   /* color: rgb(0,206,209);*/
   background-color: rgba(10, 8, 8, 0.5);
   color:rgb(120, 215, 82); 
  
}
.thirdPar {
   /* color: #00ced1;*/
   background-color: darksalmon;
   color: rgb(37, 81, 117);
   
}
tr td:nth-child(1) {
    color: aliceblue;
}
tr td:nth-child(2) {
    color:hotpink;
}
tr td:nth-child(3) {
    color:cornflowerblue;
}
tr td:nth-child(4) {
    color:violet;
}
tr td:nth-child(5) {
    color:darkgreen;
}
