body {
    font-family: arial;
    font-size: small;
    font-weight: 300;
  }
  
  p {
    width: 500px;
  }
  
  .firsPar {
    font-family: "Courier New";
  }
  .seconPar {
    font-family:"IslandMoments";
    font-style: oblique;
    
  }
  .thirPar {
    font-family: impact;
  }
  
  .first-p-quote {
    font-family: "lucida Sans";
  }
  .second-p-quote {
    font-family: "Franklin Gothic Medium";
  }
  .third-p-quote {
    font-family: verdana;
  }
  
  .first-span {
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: IslandMoments;
    src: url(../html/2210/IslandMoments-Regular.ttf);
  }
  @font-face {
    font-family: Roboto;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
  }
  
  .first-p {
    font-family: IslandMoments;
  }
  .third-p {
    font-family: Roboto;
  }
  
  .newFirstPar {
    text-transform: uppercase;
    text-decoration: underline;
  }
  .newSecondPar {
    text-transform: lowercase;
    text-decoration: line-through;
  }
  
  .prvi-p {
    letter-spacing: 5px;
    text-align: left;
  }
  .drugi-p {
    line-height: 200%;
    text-align: right;
  }
  .treci-p {
    text-align: center;
  }
  
  ul {
    color: blue;
  }
  
  ul > li {
    text-shadow: 0.1px 0.2px rgb(8, 21, 12);
  }
  
  a:visited {
    color: black;
  }
  
  a:link {
    color: red;
  }
  a:hover {
    color: green;
  }
  a:active {
    color: blue;
  }